
.admin-section{
    padding: 2rem 0.5rem;
}

.admin-form{
    text-align:left;
    padding: 0 1rem;
}

.admin-form h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 2rem 0;
}

.square{
    background-color: #CFD4ED;
}

.btn-submit, 
.btn-submit:hover, 
.btn-submit:active, 
.btn-submit:visited {
    font-weight: 700 !important;
    background-color: #0D28A6 !important;
}


.admin-form p{
    margin-top: 2rem;
    text-align: center;
}

.admin-link{
    font-weight: 700;
    color: #0D28A6;
}

  img.admin-img { 
    display: none; 
  }

@media only screen and (min-width: 1024px) {

    .admin-section{
        display: flex;
        flex-wrap:nowrap;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 0;
    }

    .admin-form{
        flex-grow:1;
        padding: 0 3rem;
    }

    
  img.admin-img { 
    display: block; 
    height: 100vh;
  }

}
